.backbutton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #050C64;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.backbutton:hover {background-color: #1D3BD5}

.backbutton:active {
  background-color: #1D3BD5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.btn {
  border: 1px solid black;
  background-color: #061457;
  color: red;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btn {
  border-color: #1D3BD5;
  color: red;
}

.btn:hover {
  background-color: #1D3BD5;
  color: red;
}