.topnav {
    background-color:  #1f0e75;
    overflow: hidden;  
    position: sticky; 
    top:0;
    width: 100%;
    color: white;
    
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #1D3BD5 ;
    color: aliceblue;
}

.topnav a.active{
    background-color: #1D3BD5;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
